<!--Header area(S) - include-->
<header id="header" class="header">
        <nav id="gnb">
            <!--
                Guide

                <i class="icon icon-history-back"></i> - history back
                <i class="icon icon-weekmap"></i> - week tree
                <i class="icon icon-week"></i> - this week
                <i class="icon icon-profile"></i> - profile
                <i class="icon icon-parent"></i> - parent
                <i class="icon icon-help"></i> - help
                <i class="icon icon-bgm"></i> - bgm
                <i class="icon icon-bgm_mute"></i> - bgm mute
                <i class="icon icon-logout"></i> - logout
            -->
            <div class="hl-group">
                <div class="hl-group__area">
                    <div class="hl-group__box">
                        <h1 class="hl-group__tit"><img src="{{imagePath}}/common/header/hl_group/tit_with_parents_sc01_{{langType}}.png" alt="Time Spent"></h1>
                        <ul class="hl-group__items">
                            <li class="hl-group__item"><a [routerLink]="['/with-parents']" class="btn" (click)="_sndMgr.playEventSound('common', 'buttonClick');"><i class="icon icon-back"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hr-group">
                <div class="hr-group__area">
                    <div class="hr-group__box">
                        <ul class="hr-group__items">
                            <li class="hr-group__item"><button type="button" class="btn" (click)="_sndMgr.playEventSound('common', 'buttonClick');_helper.openModal({type: 'commonHelp', helpPage: 'stickerCharts'})"><i class="icon icon-help"></i></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--Header area(S) - include-->
    <!--Content area(S)-->
    <section id="container">
        <div id="content">
            <div class="content-wrap">
                <div class="content-wrap__outer">
                    <!--Content real area(S)-->
                    <div class="content-wrap__inner">
                        <div class="withParents-sticker-charts">
                            <div class="withParents-sticker-charts__area">
                                <div class="withParents-sticker-charts__box">
                                    <div class="sticker">
                                        <div class="sticker__area">
                                            <div class="sticker__box">
                                                <div class="sticker__info">
                                                    <p class="txt">{{'stickerCharts.stickerInfo' | translate}}</p>
                                                    <!--<p class="txt">스티커 판을 프린트 해서, 자녀의 실천 목표를 달성 하도록 지도해주세요.</p>-->
                                                </div>
                                                <ul class="sticker__items">
                                                    <li class="sticker__item" *ngFor="let stickerCharts of stickerChartsList.data; let idx = index"><button type="button" class="btn btn-print" (click)="onClickPdfHandler(stickerCharts)"><img src="{{stickerChartsList.fileRootPath + stickerCharts.filePahtImg}}" alt="" width="140" height="200"></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Content real area(E)-->
                </div>
            </div>
        </div>
    </section>
    <!--Content area(E)-->
