@charset "UTF-8";
/**
 * Font style setting
 */
/**
 * FONT SIZE
 */
/* Point color setting */
/* Background - color setting */
/* Border - color setting */
/* Font - color setting */
/**
 * BASE SETTING
 */
/**
 * Z-INDEX
 */
/**
 * 이번주차 아이콘
 */
@-webkit-keyframes this-week-icon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -580px 0;
  }
}
@keyframes this-week-icon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -580px 0;
  }
}

.wrap-outer .wrap-inner {
  background: url("/assets/images/club_color_magic/bg_club_color_magic01.jpg") no-repeat 0 0;
}

.content-wrap .swiper {
  padding: 110px 0 0;
  height: 768px;
  position: relative;
  box-sizing: border-box;
}

.content-wrap .swiper-container {
  height: 544px;
}

.content-wrap .swiper-controller .btn-swiper-prev {
  position: absolute;
  top: 325px;
  left: 15px;
  width: 44px;
  height: 72px;
  background: url("/assets/images/club_color_magic/btn_prev01.png") no-repeat 0 0;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
}

.content-wrap .swiper-controller .btn-swiper-prev.swiper-button-disabled {
  opacity: 0;
}

.content-wrap .swiper-controller .btn-swiper-next {
  position: absolute;
  top: 325px;
  right: 15px;
  width: 44px;
  height: 72px;
  background: url("/assets/images/club_color_magic/btn_next01.png") no-repeat 0 0;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
}

.content-wrap .swiper-controller .btn-swiper-next.swiper-button-disabled {
  opacity: 0;
}

.content-wrap .swiper-slide {
  padding-top: 0;
  z-index: 1;
}

.content-wrap .clubhouse-color-magic__items {
  width: 826px;
  height: 471px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content-wrap .clubhouse-color-magic__items.length1 .clubhouse-color-magic__item:nth-of-type(1) {
  margin: 32px 40px 0;
}

.content-wrap .clubhouse-color-magic__items.length1 .clubhouse-color-magic__item:nth-of-type(2) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length1 .clubhouse-color-magic__item:nth-of-type(3) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length1 .clubhouse-color-magic__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length1 .clubhouse-color-magic__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length2 .clubhouse-color-magic__item:nth-of-type(1) {
  margin: 32px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length2 .clubhouse-color-magic__item:nth-of-type(2) {
  margin: 32px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length2 .clubhouse-color-magic__item:nth-of-type(3) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length2 .clubhouse-color-magic__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length2 .clubhouse-color-magic__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length3 .clubhouse-color-magic__item:nth-of-type(1) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length3 .clubhouse-color-magic__item:nth-of-type(2) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length3 .clubhouse-color-magic__item:nth-of-type(3) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length3 .clubhouse-color-magic__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length3 .clubhouse-color-magic__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length4 .clubhouse-color-magic__item:nth-of-type(1) {
  margin: 32px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length4 .clubhouse-color-magic__item:nth-of-type(2) {
  margin: 32px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length4 .clubhouse-color-magic__item:nth-of-type(3) {
  margin: 40px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length4 .clubhouse-color-magic__item:nth-of-type(4) {
  margin: 40px 20px 0;
}

.content-wrap .clubhouse-color-magic__items.length4 .clubhouse-color-magic__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-color-magic__items.length5 .clubhouse-color-magic__item:nth-of-type(1) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length5 .clubhouse-color-magic__item:nth-of-type(2) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length5 .clubhouse-color-magic__item:nth-of-type(3) {
  margin: 32px 10px 0;
}

.content-wrap .clubhouse-color-magic__items.length5 .clubhouse-color-magic__item:nth-of-type(4) {
  margin: 40px 40px 0;
}

.content-wrap .clubhouse-color-magic__items.length5 .clubhouse-color-magic__item:nth-of-type(5) {
  margin: 40px 0 0;
}

.content-wrap .clubhouse-color-magic__item {
  position: relative;
  width: 240px;
  height: 234px;
  display: block;
  transform: scale(1);
  transition: transform 0.3s;
  transform: perspective(1000px) translateZ(0px);
}

.content-wrap .clubhouse-color-magic__item.bg-color01 {
  background: url("/assets/images/club_color_magic/bg_item01.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color01 .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.bg-color01 .img-box {
  background: url("/assets/images/club_color_magic/bg_item01_default.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color01.disabled .img-box {
  background: url("/assets/images/club_color_magic/bg_item01_disabled.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color01.complete .complete-box:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 96px;
  width: 52px;
  height: 47px;
  background: url("/assets/images/club_color_magic/icon_complete.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color02 {
  background: url("/assets/images/club_color_magic/bg_item02.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color02 .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.bg-color02 .img-box {
  background: url("/assets/images/club_color_magic/bg_item02_default.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color02.disabled .img-box {
  background: url("/assets/images/club_color_magic/bg_item02_disabled.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color02.complete .complete-box:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 96px;
  width: 52px;
  height: 47px;
  background: url("/assets/images/club_color_magic/icon_complete.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color03 {
  background: url("/assets/images/club_color_magic/bg_item03.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color03 .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.bg-color03 .img-box {
  background: url("/assets/images/club_color_magic/bg_item03_default.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color03.disabled .img-box {
  background: url("/assets/images/club_color_magic/bg_item03_disabled.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color03.complete .complete-box:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 96px;
  width: 52px;
  height: 47px;
  background: url("/assets/images/club_color_magic/icon_complete.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color04 {
  background: url("/assets/images/club_color_magic/bg_item04.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color04 .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.bg-color04 .img-box {
  background: url("/assets/images/club_color_magic/bg_item04_default.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color04.disabled .img-box {
  background: url("/assets/images/club_color_magic/bg_item04_disabled.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color04.complete .complete-box:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 96px;
  width: 52px;
  height: 47px;
  background: url("/assets/images/club_color_magic/icon_complete.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color05 {
  background: url("/assets/images/club_color_magic/bg_item05.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color05 .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.bg-color05 .img-box {
  background: url("/assets/images/club_color_magic/bg_item05_default.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color05.disabled .img-box {
  background: url("/assets/images/club_color_magic/bg_item05_disabled.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.bg-color05.complete .complete-box:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 96px;
  width: 52px;
  height: 47px;
  background: url("/assets/images/club_color_magic/icon_complete.png") no-repeat 0 0;
}

.content-wrap .clubhouse-color-magic__item.vacation .btn {
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-color-magic__item.active:not(.disabled):not(.vacation) {
  transform: scale(1.05);
  transition: transform 0.3s;
  transform: perspective(1000px) translateZ(50px);
}

.content-wrap .clubhouse-color-magic__item.disabled .tit-week {
  opacity: 0.2;
  color: #222;
}

.content-wrap .clubhouse-color-magic__item.complete .complete-box {
  display: block;
  position: absolute;
  top: -19px;
  left: 0;
  width: 100%;
  height: 47px;
  text-align: center;
}

.content-wrap .clubhouse-color-magic__item.this-week .btn:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 290px;
  height: 238px;
  -webkit-animation: this-week-icon 1s steps(2) infinite forwards;
  animation: this-week-icon 1s steps(2) infinite forwards;
  background: url("/assets/images/sprite/club_house_color_magic_this_week.png") no-repeat 0 0;
  z-index: 1;
}

.content-wrap .clubhouse-color-magic__item.this-week .tit-week {
  color: #fff509;
}

.content-wrap .clubhouse-color-magic__item.vacation {
  background: url("/assets/images/club_color_magic/bg_item_vacation.png") no-repeat 0 0 !important;
}

.content-wrap .clubhouse-color-magic__item.vacation .img-box {
  display: none;
}

.content-wrap .clubhouse-color-magic__item.vacation .tit-week {
  opacity: 0.2;
  color: #222;
}

.content-wrap .clubhouse-color-magic__item .img-box {
  position: absolute;
  bottom: 55px;
  left: 30px;
  width: 184px;
  height: 173px;
}

.content-wrap .clubhouse-color-magic__item .complete-box {
  display: none;
}

.content-wrap .clubhouse-color-magic__item .tit-week {
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  font: 700 30px/30px "NSRoundECP", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  align-content: center;
  justify-content: center;
}

.content-wrap .clubhouse-color-magic__item .tit-week img {
  vertical-align: top;
}

.content-wrap .clubhouse-color-magic__item .tit-week .number-box {
  margin: 3px 0 0 10px;
}

.content-wrap .clubhouse-color-magic__item .img {
  position: absolute;
  bottom: 39px;
  left: 34px;
  overflow: hidden;
  width: 115px;
  height: 115px;
}

/*
#wrap{
	&.club-color-magic{
		@extend %swiper-pagination;
	}
}
*/

/*# sourceMappingURL=../map/club_color_magic.css.map */
