@charset "UTF-8";
/**
 * Font style setting
 */
/**
 * FONT SIZE
 */
/* Point color setting */
/* Background - color setting */
/* Border - color setting */
/* Font - color setting */
/**
 * BASE SETTING
 */
/**
 * Z-INDEX
 */
/**
 * 이번주차 아이콘
 */
@-webkit-keyframes this-week-icon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -522px 0;
  }
}
@keyframes this-week-icon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -522px 0;
  }
}

.content-wrap .swiper {
  padding: 160px 0 0;
  height: 768px;
  position: relative;
  box-sizing: border-box;
}

.content-wrap .swiper-container {
  width: 100%;
}

.content-wrap .swiper-controller .btn-swiper-prev {
  position: absolute;
  top: 325px;
  left: 10px;
  width: 44px;
  height: 72px;
  background: url("/assets/images/club_house_fun_factory/btn_prev01.png") no-repeat 0 0;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2;
}

.content-wrap .swiper-controller .btn-swiper-prev.swiper-button-disabled {
  opacity: 0;
}

.content-wrap .swiper-controller .btn-swiper-next {
  position: absolute;
  top: 325px;
  right: 10px;
  width: 44px;
  height: 72px;
  background: url("/assets/images/club_house_fun_factory/btn_next01.png") no-repeat 0 0;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2;
}

.content-wrap .swiper-controller .btn-swiper-next.swiper-button-disabled {
  opacity: 0;
}

.content-wrap .swiper-slide {
  padding: 22px 0 14px;
  z-index: 1;
}

.content-wrap .clubhouse-fun-factory__items {
  width: 826px;
  height: 441px;
  padding-bottom: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-wrap .clubhouse-fun-factory__items.length1 .clubhouse-fun-factory__item:nth-of-type(1) {
  margin: 0 40px;
}

.content-wrap .clubhouse-fun-factory__items.length1 .clubhouse-fun-factory__item:nth-of-type(2) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length1 .clubhouse-fun-factory__item:nth-of-type(3) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length1 .clubhouse-fun-factory__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length1 .clubhouse-fun-factory__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length2 .clubhouse-fun-factory__item:nth-of-type(1) {
  margin: 0 40px;
}

.content-wrap .clubhouse-fun-factory__items.length2 .clubhouse-fun-factory__item:nth-of-type(2) {
  margin: 0 40px;
}

.content-wrap .clubhouse-fun-factory__items.length2 .clubhouse-fun-factory__item:nth-of-type(3) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length2 .clubhouse-fun-factory__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length2 .clubhouse-fun-factory__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length3 .clubhouse-fun-factory__item:nth-of-type(1) {
  margin-right: 40px;
}

.content-wrap .clubhouse-fun-factory__items.length3 .clubhouse-fun-factory__item:nth-of-type(2) {
  margin-right: 40px;
}

.content-wrap .clubhouse-fun-factory__items.length3 .clubhouse-fun-factory__item:nth-of-type(3) {
  margin-right: 40px;
}

.content-wrap .clubhouse-fun-factory__items.length3 .clubhouse-fun-factory__item:nth-of-type(4) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length3 .clubhouse-fun-factory__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length4 {
  background: url("/assets/images/club_house_fun_factory/bg_shelf_length04.png") no-repeat 50% 196px;
  width: 520px;
}

.content-wrap .clubhouse-fun-factory__items.length4 .clubhouse-fun-factory__item:nth-of-type(1) {
  margin: 0 15px;
}

.content-wrap .clubhouse-fun-factory__items.length4 .clubhouse-fun-factory__item:nth-of-type(2) {
  margin: 0 15px;
}

.content-wrap .clubhouse-fun-factory__items.length4 .clubhouse-fun-factory__item:nth-of-type(3) {
  margin: 27px 15px 0;
}

.content-wrap .clubhouse-fun-factory__items.length4 .clubhouse-fun-factory__item:nth-of-type(4) {
  margin: 27px 15px 0;
}

.content-wrap .clubhouse-fun-factory__items.length4 .clubhouse-fun-factory__item:nth-of-type(5) {
  display: none;
}

.content-wrap .clubhouse-fun-factory__items.length5 {
  background: url("/assets/images/club_house_fun_factory/bg_shelf_length05.png") no-repeat 50% 196px;
}

.content-wrap .clubhouse-fun-factory__items.length5 .clubhouse-fun-factory__item:nth-of-type(1) {
  margin-right: 34px;
}

.content-wrap .clubhouse-fun-factory__items.length5 .clubhouse-fun-factory__item:nth-of-type(2) {
  margin-right: 34px;
}

.content-wrap .clubhouse-fun-factory__items.length5 .clubhouse-fun-factory__item:nth-of-type(3) {
  margin-right: 34px;
}

.content-wrap .clubhouse-fun-factory__items.length5 .clubhouse-fun-factory__item:nth-of-type(4) {
  margin: 27px 34px 0 0;
}

.content-wrap .clubhouse-fun-factory__items.length5 .clubhouse-fun-factory__item:nth-of-type(5) {
  margin: 27px 0 0;
}

.content-wrap .clubhouse-fun-factory__item {
  position: relative;
  width: 194px;
  height: 207px;
  display: block;
  transform: scale(1);
  background: no-repeat 0 100%;
  transition: transform 0.3s;
  transform: perspective(1000px) translateZ(0px);
}

.content-wrap .clubhouse-fun-factory__item.bg-color01:not(.this-week):not(.vacation):not(.disabled).active {
  background-image: url("/assets/images/club_house_fun_factory/bg_item01_active.png") !important;
}

.content-wrap .clubhouse-fun-factory__item.bg-color01.default, .content-wrap .clubhouse-fun-factory__item.bg-color01.disabled {
  background-image: url("/assets/images/club_house_fun_factory/bg_item01_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color01.default:before, .content-wrap .clubhouse-fun-factory__item.bg-color01.disabled:before {
  background-image: url("/assets/images/club_house_fun_factory/icon_ribbon01.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color01.this-week {
  background-image: url("/assets/images/club_house_fun_factory/bg_item01_this_week.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color01.complete {
  background-image: url("/assets/images/club_house_fun_factory/bg_item01_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color01 .complete-box .icon-star {
  background-image: url("/assets/images/club_house_fun_factory/icon_star01.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color01 .complete-box .icon-star.active {
  background-image: url("/assets/images/club_house_fun_factory/icon_star_active.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02:not(.this-week):not(.vacation):not(.disabled).active {
  background-image: url("/assets/images/club_house_fun_factory/bg_item02_active.png") !important;
}

.content-wrap .clubhouse-fun-factory__item.bg-color02.default, .content-wrap .clubhouse-fun-factory__item.bg-color02.disabled {
  background-image: url("/assets/images/club_house_fun_factory/bg_item02_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02.default:before, .content-wrap .clubhouse-fun-factory__item.bg-color02.disabled:before {
  background-image: url("/assets/images/club_house_fun_factory/icon_ribbon02.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02.this-week {
  background-image: url("/assets/images/club_house_fun_factory/bg_item02_this_week.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02.complete {
  background-image: url("/assets/images/club_house_fun_factory/bg_item02_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02 .complete-box .icon-star {
  background-image: url("/assets/images/club_house_fun_factory/icon_star02.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color02 .complete-box .icon-star.active {
  background-image: url("/assets/images/club_house_fun_factory/icon_star_active.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03:not(.this-week):not(.vacation):not(.disabled).active {
  background-image: url("/assets/images/club_house_fun_factory/bg_item03_active.png") !important;
}

.content-wrap .clubhouse-fun-factory__item.bg-color03.default, .content-wrap .clubhouse-fun-factory__item.bg-color03.disabled {
  background-image: url("/assets/images/club_house_fun_factory/bg_item03_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03.default:before, .content-wrap .clubhouse-fun-factory__item.bg-color03.disabled:before {
  background-image: url("/assets/images/club_house_fun_factory/icon_ribbon03.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03.this-week {
  background-image: url("/assets/images/club_house_fun_factory/bg_item03_this_week.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03.complete {
  background-image: url("/assets/images/club_house_fun_factory/bg_item03_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03 .complete-box .icon-star {
  background-image: url("/assets/images/club_house_fun_factory/icon_star03.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color03 .complete-box .icon-star.active {
  background-image: url("/assets/images/club_house_fun_factory/icon_star_active.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04:not(.this-week):not(.vacation):not(.disabled).active {
  background-image: url("/assets/images/club_house_fun_factory/bg_item04_active.png") !important;
}

.content-wrap .clubhouse-fun-factory__item.bg-color04.default, .content-wrap .clubhouse-fun-factory__item.bg-color04.disabled {
  background-image: url("/assets/images/club_house_fun_factory/bg_item04_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04.default:before, .content-wrap .clubhouse-fun-factory__item.bg-color04.disabled:before {
  background-image: url("/assets/images/club_house_fun_factory/icon_ribbon04.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04.this-week {
  background-image: url("/assets/images/club_house_fun_factory/bg_item04_this_week.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04.complete {
  background-image: url("/assets/images/club_house_fun_factory/bg_item04_default.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04 .complete-box .icon-star {
  background-image: url("/assets/images/club_house_fun_factory/icon_star04.png");
}

.content-wrap .clubhouse-fun-factory__item.bg-color04 .complete-box .icon-star.active {
  background-image: url("/assets/images/club_house_fun_factory/icon_star_active.png");
}

.content-wrap .clubhouse-fun-factory__item.active:not(.this-week):not(.vacation):not(.disabled) .complete-box {
  display: block;
  top: 44px;
}

.content-wrap .clubhouse-fun-factory__item.active:not(.this-week):not(.vacation):not(.disabled) .img {
  opacity: 1;
}

.content-wrap .clubhouse-fun-factory__item.default .complete-box {
  display: block;
  top: 66px;
}

.content-wrap .clubhouse-fun-factory__item.disabled:before {
  content: "";
  position: absolute;
  top: 22px;
  left: 40px;
  width: 115px;
  height: 104px;
  background: no-repeat 0 0;
}

.content-wrap .clubhouse-fun-factory__item.disabled .tit-week {
  opacity: 0.3;
}

.content-wrap .clubhouse-fun-factory__item.disabled .complete-box {
  display: none;
}

.content-wrap .clubhouse-fun-factory__item.complete .complete-box {
  display: block;
  top: 66px;
}

.content-wrap .clubhouse-fun-factory__item.this-week .btn:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  width: 261px;
  height: 238px;
  margin-left: -130px;
  -webkit-animation: this-week-icon 1s steps(2) infinite forwards;
  animation: this-week-icon 1s steps(2) infinite forwards;
  background: url("/assets/images/sprite/club_house_fun_factory_this_week.png") no-repeat 0 0;
  z-index: 1;
}

.content-wrap .clubhouse-fun-factory__item.this-week .img {
  top: 55px;
  height: 95px;
  opacity: 1;
}

.content-wrap .clubhouse-fun-factory__item.this-week .img:before {
  top: 35px;
}

.content-wrap .clubhouse-fun-factory__item.this-week .img:after {
  top: 35px;
}

.content-wrap .clubhouse-fun-factory__item.this-week .tit-week {
  color: #fff509;
}

.content-wrap .clubhouse-fun-factory__item.this-week .complete-box {
  display: block;
  top: 10px;
  transform: scale(0.8);
  transition: transform 0.3s;
  transform: perspective(1000px) translateZ(-100px);
}

.content-wrap .clubhouse-fun-factory__item.vacation {
  background-image: url("/assets/images/club_house_fun_factory/bg_vacation01.png") !important;
}

.content-wrap .clubhouse-fun-factory__item.vacation .tit-week {
  display: none;
}

.content-wrap .clubhouse-fun-factory__item.vacation .img {
  display: none;
}

.content-wrap .clubhouse-fun-factory__item.vacation .complete-box {
  display: none;
}

.content-wrap .clubhouse-fun-factory__item .complete-box {
  display: none;
  position: absolute;
  left: 50%;
  width: 120px;
  height: 48px;
  margin-left: -60px;
  z-index: -1;
}

.content-wrap .clubhouse-fun-factory__item .complete-box .icon:nth-of-type(1) {
  float: left;
}

.content-wrap .clubhouse-fun-factory__item .complete-box .icon:nth-of-type(2) {
  float: right;
}

.content-wrap .clubhouse-fun-factory__item .tit-week {
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  height: 26px;
  display: flex;
  font: 700 30px/30px "NSRoundECP", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  align-content: center;
  justify-content: center;
}

.content-wrap .clubhouse-fun-factory__item .tit-week .number-box {
  margin: 3px 0 0 10px;
}

.content-wrap .clubhouse-fun-factory__item .img {
  position: absolute;
  top: 79px;
  left: -5px;
  overflow: hidden;
  width: 194px;
  height: 48px;
  opacity: 0;
  transition: all 0.3s;
}

.content-wrap .clubhouse-fun-factory__item .img:before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 86px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #4974cb;
  transition: all 0.3s;
}

.content-wrap .clubhouse-fun-factory__item .img:after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 80px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #4974cb;
  transition: all 0.3s;
}

.content-wrap .clubhouse-fun-factory__item .btn {
  overflow: visible;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.content-wrap .clubhouse-fun-factory__item .icon-star {
  display: inline-block;
  width: 50px;
  height: 48px;
  background: no-repeat 0 0;
}

/*
/deep/ #wrap{
	&.club-fun-factory{
		@extend %swiper-pagination;
	}
}
*/

/*# sourceMappingURL=../map/club_house_fun_factory.css.map */
