<!--Header area(S) - include-->
<header id="header" class="header">
    <nav id="gnb">
        <!--
            Guide

            <i class="icon icon-weekmap"></i> - week tree
            <i class="icon icon-week"></i> - this week
            <i class="icon icon-profile"></i> - profile
            <i class="icon icon-parent"></i> - parent
            <i class="icon icon-help"></i> - help
            <i class="icon icon-bgm"></i> - bgm
            <i class="icon icon-bgm_mute"></i> - bgm mute
            <i class="icon icon-logout"></i> - logout
        -->
        <div class="hl-group">
            <div class="hl-group__area">
                <div class="hl-group__box">
                    <ul class="hl-group__items">
                        <li class="hl-group__item"><a class="btn" [routerLink]="['/main']" (click)="_sndMgr.playEventSound('common', 'buttonClick')"><i class="icon icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hr-group">
            <div class="hr-group__area">
                <div class="hr-group__box">
                    <ul class="hr-group__items">
                        <li class="hr-group__item">
                            <!--
                                Guide

                                <i class="icon icon-bgm"></i> - bgn on
                                <i class="icon icon-bgm_mute"></i> - bgn off
                            -->
                            <button type="button" class="btn btn-bgm" (click)="dataManagerService.bgmToggle('/clubhouse')">
                                <i class="icon icon-bgm{{bgmIconClass}}"></i>
                            </button>
                        </li>
                        <li class="hr-group__item">
                          <button type="button" class="btn" (click)="_sndMgr.playEventSound('common', 'buttonClick'); _helper.openModal({type: 'commonHelp', helpPage: 'clubhouse'})"><i class="icon icon-help"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header area(S) - include-->
<!--Content area(S)-->
<section id="container">
    <div id="content">
        <div class="content-wrap">
            <div class="content-wrap__outer">
                <!--Content real area(S)-->
                <div class="content-wrap__inner">
                    <!--Footer area(S)-->
                    <div class="clubhouse">
                        <div class="clubhouse__area">
                            <div class="clubhouse__box">
                                <!--bg 영역-->
                                <div class="clubhouse__bg">
                                    <i class="icon icon-bird"></i>
                                    <i class="icon icon-dust"></i>
                                    <i class="icon icon-swing"></i>
                                </div>
                                <!--리스트 영역-->
                                <div class="clubhouse__items">
                                    <!--
                                        Guide

                                        - Menu
                                        let state = default, active
                                        let item = 1 ~ 5
                                        <div class="clubhouse__item item0${item} ${state}">

                                        List)
                                        <div class="clubhouse__item item01 default"> - 일반
                                        <div class="clubhouse__item item01 active"> - 마우스 over || 테블릿 click
                                    -->
                                    <div class="clubhouse__item item01" appHover hoverDefaultClass="default" hoverActiveClass="active"><button type="button" class="btn btn-item01" (click)="_sndMgr.playEventSound('common', 'buttonClick');onClickGoURL('PR')"><span></span></button></div>
                                    <div class="clubhouse__item item02" appHover hoverDefaultClass="default" hoverActiveClass="active"><button type="button" class="btn btn-item02" (click)="_sndMgr.playEventSound('common', 'buttonClick');onClickGoURL('SA')"><span></span></button></div>
                                    <div class="clubhouse__item item03" appHover hoverDefaultClass="default" hoverActiveClass="active"><button type="button" class="btn btn-item03" (click)="_sndMgr.playEventSound('common', 'buttonClick');onClickGoURL('PS')"><span></span></button></div>
                                    <div class="clubhouse__item item04" appHover hoverDefaultClass="default" hoverActiveClass="active"><button type="button" class="btn btn-item04" (click)="_sndMgr.playEventSound('common', 'buttonClick');onClickGoURL('FF')"><span></span></button></div>
                                    <div class="clubhouse__item item05" appHover hoverDefaultClass="default" hoverActiveClass="active"><button type="button" class="btn btn-item05" (click)="_sndMgr.playEventSound('common', 'buttonClick');onClickGoURL('CM')"><span></span></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Content real area(E)-->
            </div>
        </div>
    </div>
</section>
<!--Content area(E)-->
