<!--Header area(S) - include-->
<header id="header" class="header">
    <nav id="gnb">
        <!--
            Guide

            <i class="icon icon-history-back"></i> - history back
            <i class="icon icon-weekmap"></i> - week tree
            <i class="icon icon-week"></i> - this week
            <i class="icon icon-profile"></i> - profile
            <i class="icon icon-parent"></i> - parent
            <i class="icon icon-help"></i> - help
            <i class="icon icon-bgm"></i> - bgm
            <i class="icon icon-bgm_mute"></i> - bgm mute
            <i class="icon icon-logout"></i> - logout
        -->
        <div class="hl-group">
            <div class="hl-group__area">
                <div class="hl-group__box">
                    <ul class="hl-group__items">
                        <li class="hl-group__item"><a [routerLink]="['/clubhouse']" class="btn" (click)="_sndMgr.playEventSound('common', 'buttonClick')"><i class="icon icon-back"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hr-group">
            <div class="hr-group__area">
                <div class="hr-group__box">
                    <ul class="hr-group__items">
                        <li class="hr-group__item">
                            <!--
                                Guide

                                <i class="icon icon-bgm"></i> - bgn on
                                <i class="icon icon-bgm_mute"></i> - bgn off
                            -->
                            <button type="button" class="btn btn-bgm" (click)="dataManagerService.bgmToggle('/clubhouse')">
                                <i class="icon icon-bgm{{bgmIconClass}}"></i>
                            </button>
                        </li>
                        <li class="hr-group__item"><button type="button" class="btn" (click)="_sndMgr.playEventSound('common', 'buttonClick'); _helper.openModal({type: 'commonHelp', helpPage: 'polyReader'})"><i class="icon icon-help"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header area(S) - include-->
<section id="container">
    <div id="content">
        <div class="content-wrap">
            <div class="content-wrap__outer">
                <!--Content real area(S)-->
                <div class="content-wrap__inner">
                    <div class="clubhouse-reader">
                        <div class="clubhouse-reader__area">
                            <div class="clubhouse-reader__box">
                                <!--Swiper area(S)-->
                                <div class="swiper">
                                    <swiper [index]="clubhouseService.currentPage" [config]="config" (indexChange)="_sndMgr.playEventSound('common', 'pageMove')">
                                        <!--Loop area-->
                                        <div class="swiper-slide" *ngFor="let item of clubhouseService.pageList | keyvalue">
                                            <div class="clubhouse-reader__items length{{item.value.weekList.length}}">
                                                <div *ngFor="let week of item.value.weekList; let idx = index" class="clubhouse-reader__item {{week.activityClass}} {{week.bgClassName}}" appHover hoverDefaultClass="default" hoverActiveClass="active">
                                                    <button type="button" class="btn btn-item0{{idx+1}}" (click)="openContentFrame(week)">
                                                        <h2 class="tit-week">Week {{week.weekId}}</h2>
                                                        <figure class="img">
                                                            <img src="{{week.filePathThumbnail}}">
                                                        </figure>
                                                        <div class="txt-box">
                                                            <p class="txt-info">{{week.title}}</p>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </swiper>
                                </div>
                                <!--swiper paging-->
                                <div class="swiper-pagination-wrapper swiper-pagination"></div>
                                <!--swiper controller-->
                                <div class="swiper-controller">
                                    <button type="button" class="btn btn-swiper-prev"></button>
                                    <button type="button" class="btn btn-swiper-next"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Swiper area(E)-->

                </div>
                <!--Content real area(E)-->
            </div>
        </div>
    </div>
</section>
<!--Content area(E)-->
